body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
}

.nav-wrapper {
    background-color: lightslategrey !important;
}

.banner {
    padding: 2%;
}

#imgPerfil {
    width: 80%;
    height: auto;
    border-radius: 50%
}

#nomePerfil{
    text-align: left;
    font-size: 14pt;
    padding-left: 15%;
}

.principaisCamisas{
    width: 200px;
    height: 250px;
}

.espacoRedesSociais {
    margin-right: 2% !important;
}

 .footer {
    position: absolute;
    background: lightslategrey !important;
    color: white !important;
    padding-top: 1%;
    bottom: 0 !important;
}  

#menuSmall {
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}

#menuIcon {
    font-size: 34px !important;
}

#dropdown1 {
    background-color: lightslategrey !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: white !important;
}

.hover-menu:hover {
    background-color: gray;
}

.menu-ativo {
    background-color: gray;
}

#title {
    border: 1px solid;
    text-align: center;
    border-radius: 25%;
    background-color: lightslategrey;
    color: white;
}

#description {
    text-align: left;
}

#btnEnviar, #btnDownload {
    background-color: lightslategrey;
}

.skills-img {
    width: 20px;
    height: 20px;
}

.skills-name{
    font-size: 10pt;
    font-weight: bold;
}

.borderCV {
    border: 1px solid;
    padding-left: 1%;
}

@media (max-width: 880px) and (min-width: 541px)
{
    #nomePerfil{
        text-align: left;
        font-size: 8pt;
        padding-left: 15%;
    }
}

@media (max-width: 540px) and (min-width: 320px)
{
    #nomePerfil{
        text-align: left;
        font-size: 8pt;
    }
}